<body>
<div>
    <h1>Макаров Никита. ИУ6-34Б. Лабораторная работа №12</h1>
    <div>
    Все меньшие n (n ≤ 10^6) натуральные числа,
    которые являются палиндромами как в десятичной, так
    и в двоичной системе</div>
    <div>
  <table>
    <tr>
      <th>Число в десятичной системе</th>
      <th>Число в двоичной системе</th>
    </tr>
    <% @result.each do |value, value2|%>
      <tr>
        <td> <%= value %></td>
        <td> <%= value2%></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
<%= button_to "Go back", calc_input_path, :method => :get %>
</body>
